#cloud-config
package_update: true
package_upgrade: true
packages:
  - netcat
write_files:
  - encoding: b64
    content: ${filebase64(var.ssh_private_key_path)}
    path: /home/ubuntu/cluster_key
    permissions: '0600'
runcmd:
  - sudo chown ubuntu:ubuntu /home/ubuntu/cluster_key
  - sleep 5
  - until scp -o StrictHostKeyChecking=no -i /home/ubuntu/cluster_key ubuntu@${control_plane_ip}:/var/lib/rancher/k3s/server/node-token /home/ubuntu/node-token; do sleep 10; done
  - curl -sfL https://get.k3s.io | K3S_URL=https://${control_plane_ip}:6443 K3S_TOKEN=$(cat /home/ubuntu/node-token) sh -
  - echo "K3s worker node setup complete."
