tenancy_ocid         = "ocid1.tenancy.oc1..aaaa...."
user_ocid            = "ocid1.user.oc1..aaaa..."
region               = "eu-frankfurt-1"
compartment_ocid     = "ocid1.compartment.oc1..aaaaa...."
ssh_public_key_path  = "/Users/user_name/.ssh/id_rsa.pub"
ssh_private_key_path = "/Users/user_name/.ssh/id_rsa"
private_key_path     = "/Users/user_name/.oci/oci_api_key.pem"
fingerprint          = "7d:..."
vcn_cidr             = "10.0.0.0/16"
subnet_cidr          = "10.0.1.0/24"

ubuntu_arm_image_ocid = {
  "eu-frankfurt-1" = "ocid1.image.oc1.eu-frankfurt-1.aaaa..."
}
ubuntu_x86_image_ocid = {
  "eu-frankfurt-1" = "ocid1.image.oc1.eu-frankfurt-1.aaaa..."
}

control_plane_ip     = "111.11.11.11"
k3s_worker_x86_ip    = "111.11.11.11"

control_plane_k3_node = "::server:"

k3s_worker_x86_k3_node = "::server:"